html{
    font-size: 14px;
}

body{
    font-family: 'Gotham-Narrow-Book', sans-serif;
}

*:hover,*:focus,*:active{
    box-shadow: none !important;
}

a{
    text-decoration: none !important;
}

a:hover,a:focus,a:active{
    outline: none !important;
}

option:hover,option:focus,option:active{
    outline: none !important;
}

button:hover,button:focus,button:active{
    outline: none !important;
}

form input:focus,
form button:focus{
    box-shadow: none !important;
}

.form-control:focus{
    border: 1px solid #61748F;
    border-right: none;
}

.logo{
    display: inline-block;
    max-width: 50%;
}

.logo img{
    width: 100%;
}


/*MOBILE SEARCH FORM*/

.navbar .mobile-search-form{
    display: none;
}

.mobile-search-form button{
    border: 1px solid #61748f;
    border-left: none;
    background: #fff;
}

.mobile-search-form .fa-search{
    font-size: 16px;
}

/*DESKTOP SEARCH FORM*/

.desktop-search .fa-search{
    font-size: 14px;
    color: #fff !important;
}

/*DESKTOP LANGUAGE*/

.language-dropdown,
.language-dropdown .language-menu a{
    font-size: 12px;
}

.language-dropdown .dropdown-item:active{
    background: #fff;
    color: #000;
}

.language-btn,
.language-btn:hover{
    color: #fff;
}

.language-btn:after{
    color: #D80E43;
}

.language-menu{
    width: 100%;
    min-width: 1px;
    border: none;
}

/*OWL CAROUSEL HOME SLIDER*/

.owl-carousel .owl-dots{
    position: absolute;
    bottom: 20px;
    left: 45%;
}

.owl-carousel .owl-dots .owl-dot span{
    background: url('assets/slider-nav.png') center no-repeat !important;
    border-radius: 0 !important;
    width: 30px !important;
    height: 5px !important;
}

.owl-carousel .owl-dots .owl-dot.active span{
    background: url('assets/slider-nav-active.png') center no-repeat !important;
    border-radius: 0;
    width: 30px;
    height: 5px;
}

/*FOR HEADINGS*/
.arrow-down{
    position: relative;
    padding-bottom:50px; 
}
.arrow-down:after{
    position:absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 50px;
    background: url('assets/arrow-down.png') no-repeat left bottom;
    background-size: contain;
    height: 35px;
}

.underline{
    position: relative;
}
.underline:after{
    position: absolute;
    bottom: -10px;
    content: '';
    left: 0;
    width: 100%;
    height: 5px;
    background: #61748F;
    -ms-transform: skew(-30deg); /* IE 9 */
    -webkit-transform: skew(-30deg); /* Safari */
    transform: skew(-30deg);
}
.active.underline:after{
    background: #D80E43; 
}

a:hover.underline:after{
    background: #D80E43;
}

.form-control:focus{
    box-shadow: none !important;
}

.submenu{
    display: none;
}

/*HEADER NAVIGATION*/

header{
    background: transparent;
    transition:0.8s;
}

header.bgChange{
    background-color: #fff;
}

header.bgChange .main-nav .main-link,
header.bgChange .language-dropdown a,
header.bgChange .desktop-search .fa{
    color: #000 !important;
    transition:0.8s;
}

header .main-nav .main-link,
header .language-dropdown a,
header .desktop-search .fa{
    transition:0.8s;
}

.main-nav .main-link{
    padding: 0 !important;
    color: #fff !important;
}

.main-nav .main-link,
.submenu-title,
.caption h1{
    font-family: 'Gotham-Bold', sans-serif;
}

.main-nav .submenu .nav-link{
    color: #75859b !important;
}

.main-nav .submenu-title{
    color: #61748f !important;
}

.main-nav .submenu{
    position: absolute;
    width: 100%;
    left: 0;
    top: 69px;
    background: #fff;
    padding: 30px;
    list-style: none;
}

.main-nav .machines{
    height: 500px !important;
    overflow-y: scroll;
}

.machines ul{
    padding-right: 20px;
}

.machines ul li{
    padding-left: 0 !important;
    border-bottom: 1px solid rgba(97, 116, 143, 0.34);
}

.submenu ul{
    height: 100% !important;
}

.submenu ul li{
    padding-bottom: 10px;
    font-size: 14px;
}

.is-open{
    display: block;
}

.main-nav li a{
    padding-bottom: 0;
    padding-left: 0 !important;
}

.submenu .fa-arrow-down{
    position: relative;
    margin-right: 5px;
}

.submenu .fa-arrow-down:after{
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #61748f;
}

.lead-slider li:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(assets/layer.png) no-repeat;
    background-size: cover;
}

.caption{
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 40%;
}